extends layout

block layout-content
  div.View
    h1.Banner JDRssDownloader #{version}
    body
      div.Message
        h3 Number of Tracked Shows
        h1 #{showListLength}
        h3 Next RSS Refresh
        h1 #{rss_time}
        h3 Next Link Check
        h1 #{link_check}        
    div.NavButtons
      a(href="/shows")
          div.NavButton Show List
      a(href="/shows/add")
          div.NavButton Add New Show
      a(href="/shows/remove")
          div.NavButton Remove Show
      a(href="/logs")
          div.NavButton Logs