extends layout

block layout-content
  div.View
    h1.Banner Retry Cache
    if (retryCache.length==0)
      div.Message
        h2 No shows in Retry Cache
    else
      div.Message
        table
          thead
            tr
              th Show Name
              th Remove
          tbody
            each val, key in retryCache
              tr
                td
                  a(href=val.link
                    target="_blank") #{val.title}
                td 
                  a(href='/retryCache/remove?name=' + val.newtitle) Remove
    div.NavButtons
      a(href="/")
        div.NavButton Home